page-home {
  .gb-color {
      background-color: #f4f4f4;
  }
  .textcolor-verde{
    color: #45d0b6;
  }
  .textcolor-preto{
    color: #423f54;
  }
  .myphoto {
    img {
      height: 70vh;
      width: auto;
      margin: auto;
      display: block;
    }
  }
}
